:root{
    --primary-color:blue;
    --secondary-color:purple;
    --font-color:black;
    --bg-color:white;
    --heading-color:#292922;
}
[data-theme="dark"]{
    --primary-color:red;
    --secondary-color:#818cab;
    --font-color:yellow;
    --bg-color:#161625;
    --heading-color:#818cab;
}
body{
    font-family: Arial,  sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 90%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh );
}
h1{
    color: var(--heading-color);
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}